:root {
    --primary-dark: #333;
    --background-grey: #ededed;

    --display-font: 42px;
    --header-font: 34px;
    --title-1-font: 18px;
    --body-font: 14px;
    --book-width: 200px;
    --book-gap: 20px
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-grey);
    color: var(--primary-dark);

    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: var(--display-font);
    margin: 0;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}

.library {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc((var(--book-width) + var(--book-gap)) * 5);
    gap: var(--book-gap);
}

#new-book-btn {
    background-color: var(--primary-dark);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* content: "\00d7"; */
    /* color: white; */
    transition: all 0.8s;
}

#new-book-btn:after {
    content: "\002b";
    font-size: 50px;
    color: var(--background-grey);
}

#new-book-btn:hover {
    /* box-shadow: 0 0 10px 10px green; */
    transform: rotate(180deg);
}

.book {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 10px;
    /* border: 1px solid var(--primary-dark); */
    border-radius: 10px;
    padding: 10px;
    width: var(--book-width);
    height: var(--book-width);

    background-color: lightgray;
}

.book:hover {
    background-color: var(--primary-dark);
    color: var(--background-grey);   
}

p {
    margin: 0px;
}

.book-title {
    font-weight: bold;
    font-size: var(--title-1-font);
    text-align: center;
}

.book-author {
    font-size: var(--body-font);
    text-align: center;  
}

.book-pages {
    position: absolute;
    bottom: 8px;
    left: 10px;

    color: var(--primary-dark);
    font-size: var(--body-font);
}

.book:hover .book-pages {
    color: var(--background-grey);
}

.delete-book-btn {
    position: absolute;
    top: 5px;
    right: 13.5px;

    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    border: none;

    visibility: hidden;
}

.delete-book-btn:after {
    content: "\00d7";
}

.book:hover .delete-book-btn {
    visibility: visible;
    color: var(--primary-dark);
    z-index: 9;
}

/* Modify button */
.modify-btn, .check-btn {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 30px;
    color: lightgray;
}

.modify-btn {
    top: 8px;
    left: 8px;
    transition: 1s;
}

.modify-btn:hover {
    /* transform: rotate(180deg); */
}

.check-btn {
    bottom: 8px;
    right: 8px;
}

.check-btn.active {
    color: #4CBB17;
}

.bookmark {
    position: absolute;
    top: 0;
    right: 10px;

    font-size: 45px;
    color: rgba(139, 0, 0, 0.726);
}

.book:hover .bookmark {
    color: var(--background-grey);
}

/* Form  */
.form, .modify{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);  /* Hidden */
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: var(--background-grey);
    width: 300px;
    max-width: 80%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.form.active, .modify.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-header, .modify-header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-header .title, .modify-header .title {
    font-weight: bold;
    text-align: center;
    font-size: var(--header-font);
}

.form-body, .modify-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.form-body .bottom, .modify-body .bottom {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-body label, .modify-body label {
    display: flex;
    justify-content: center;
}

.form-body input, .modify-body input {
    border: none;
    height: 25px;
    padding: 5px;
    font-size: var(--body-font);
}

.form-body input::placeholder {
    position: relative;
    color: hsl(0, 0%, 36%);
    font-size: var(--body-font);
}

.submit-btn, .close-btn, .modify-submit-btn, .modify-close-btn {
    cursor: pointer;
    font-size: var(--body-font);
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 80px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: var(--body-font);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: darkgray; */
}

.fa-github {
    color: var(--primary-dark);
    transition: 0.5s ease;
    font-size: 32px;
}

.fa-github:hover {
    transform: scale(1.2) rotate(360deg);
}