:root {
    --primary-dark: #333;
    --background-grey: #ededed;
    --primary-font: 14px;

    --title-font: 20px;
    --author-font: 16px;
    --book-width: 200px;
    --book-gap: 20px
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-grey);
    color: var(--primary-dark);

    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}

.library {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc((var(--book-width) + var(--book-gap)) * 5);
    gap: var(--book-gap);
}

#new-book-btn {
    background-color: var(--primary-dark);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* content: "\00d7"; */
    /* color: white; */
    transition: all 0.8s;
}

#new-book-btn:after {
    content: "\002b";
    font-size: 50px;
    color: var(--background-grey);
}

#new-book-btn:hover {
    /* box-shadow: 0 0 10px 10px green; */
    transform: rotate(180deg);
}

.book {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    width: var(--book-width);
    height: var(--book-width);
}

.book:hover {
    background-color: var(--primary-dark);
    color: var(--background-grey);   
}

p {
    margin: 0px;
}

.book-title {
    font-weight: bold;
    font-size: var(--title-font);
    text-align: center;
}

.book-author {
    font-size: var(--author-font);
    text-align: center;  
}

.book-pages {
    position: absolute;
    bottom: 5px;
    left: 8px;

    /* padding: 5px; */
    color: var(--primary-dark);
    /* font-weight: bold; */
    font-size: var(--author-font);
}

.book:hover .book-pages {
    color: var(--background-grey);
}

.delete-book-btn {
    position: absolute;
    top: 5px;
    right: 5px;

    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    border: none;

    visibility: hidden;
}

.delete-book-btn:after {
    content: "\00d7";
}

.book:hover .delete-book-btn {
    visibility: visible;
    color: var(--background-grey);
}

.check-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;

    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 30px;
    
    padding: 0;
    color: lightgray;
}

.check-btn.active {
    color: #4CBB17;
}



.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);  /* Hidden */
    transition: 200ms ease-in-out;
    border: 1px solid var(--primary-dark);
    z-index: 10;
    background-color: var(--background-grey);
    width: 300px;
    max-width: 80%;
}

.form.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-header {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.form-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.form-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: var(--primary-font);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: darkgray; */
}

.fa-github {
    color: var(--primary-dark);
    transition: 0.5s ease;
    font-size: 32px;
}

.fa-github:hover {
    transform: scale(1.2) rotate(360deg);
}